<h3>Bienvenue à toi ! <small>Retrouve des avis sur tes films et séries favoris !</small></h3>

<br /><br />

Status de nos fonctionnalités :
  <div class="status_good inline">Opérationnelles</div><!-- <div class="status_bad inline">Non opérationnelles</div> -->

<br /><br />

<h4>Description du site</h4>
La communauté du site ajoute des films ainsi que des séries et à vous d'ajouter votre propre avis sur le film ou la série de votre choix.<br />
Ainsi d'autre utilisateur du site pourrons voir vos avis sur ce qu'ils recherchent !