<div align="center">

  <div class="mid_width">

    <h3>Avis sur les séries</h3>

    <div *ngFor="let mv of movies">
      <div class="panel panel-primary center_left" *ngIf="mv.sftype === 'serie'">
        <div class="panel-heading">{{mv.sftitle}}</div>
        <div class="panel-body">
          <p>{{mv.sfdescription}}</p>
          <p>
            <b>Avis de {{mv.sfaddBy}} :</b><br />
            <i>"{{mv.sfavis}}"</i>
          </p>
        </div>
      </div>
    </div>

  </div>

  <div class="mid_width">

    <h3>Avis sur les films</h3>

    <div *ngFor="let mv of movies">
      <div class="panel panel-info center_left" *ngIf="mv.sftype === 'film'">
          <div class="panel-heading">{{mv.sftitle}}</div>
          <div class="panel-body">
            <p>{{mv.sfdescription}}</p>
            <p>
              <b>Avis de {{mv.sfaddBy}} :</b><br />
              <i>"{{mv.sfavis}}"</i>
            </p>
          </div>
        </div>
    </div>

  </div>

</div>