<div align="center">

  <div class="mid_width">

    <h3>Avis sur les séries</h3>

    <div class="panel panel-primary center_left">
      <div class="panel-heading">Panel content</div>
      <div class="panel-body">
        Panel footer
      </div>
    </div>

  </div>

  <div class="mid_width">

    <h3>Avis sur les films</h3>

    <div class="panel panel-info center_left">
      <div class="panel-heading">Panel content</div>
      <div class="panel-body">
        Panel footer
      </div>
    </div>

  </div>

</div>