<div align="center">

  <div class="mid_width">

    <h3>Avis sur les séries</h3>

    <div *ngFor="let mv of movies">
      <div class="panel panel-primary center_left" *ngIf="mv.type === 'serie'">
        <div class="panel-heading">{{mv.titre}}</div>
        <div class="panel-body">
          lkfdsjglkfdhglkfdhgkjfd
        </div>
      </div>
    </div>

  </div>

  <div class="mid_width">

    <h3>Avis sur les films</h3>

    <div *ngFor="let mv of movies">
        <div class="panel panel-info center_left" *ngIf="mv.type === 'film'">
          <div class="panel-heading">{{mv.titre}}</div>
          <div class="panel-body">
            lkfdsjglkfdhglkfdhgkjfd
          </div>
        </div>
      </div>

  </div>

</div>